/* Custom Style for Geo Mashup Maps */

/* from default map styles; Maps fill the frame, makes percentage height maps a bit easier */
html, body { height: 100%; overflow: hidden; margin: 0; }

.locationinfo.post-location-info {
	max-width: 300px;
}

.locationinfo.post-location-info .mapwrap img {
  height: auto !important;
  width: auto;
  max-width: 98%;
}

.locationinfo.post-location-info h2 {
  font-size: 100%;
}

.locationinfo.post-location-info h2 a {
	text-decoration: none;
}

